@model practiceProject.Models.CategoryDetail
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>UpdateCategory</h2>

<div class="container-fluid">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashbord</a>
        </li>
        <li class="breadcrumb-item active">Categories</li>
    </ol>
    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">

            <h6 class="m-0 font-weight-bold text-primary">Category Details</h6>
            <a href="#" class="btn btn-info pull-right fa fa-plus ">Add New</a>

        </div>
        <div class="card-body"></div>
    </div>
</div>
